body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.light-theme {
    background-color: #F2F2F2;
    color: #000;
    text-align: center;
    height: 100vh;
    padding: 10px 15px;
}

.dark-theme {
    background-color: #000;
    color: #FFF;
    text-align: center;
    height: 100vh;
    padding: 10px 15px;
}

.p-5 {
    padding: 5px;
}

.m-5 {
    margin: 5px;
}